* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

header {
    background-color: rgba(128, 128, 128, 0.26);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.itens {
    display: flex;
    margin-right: 50px;
    justify-content: center;
}

.itens a {
    text-decoration: none;
}

.itens i {
    font-size: 50px;
    font-weight: bold;
    color: #435D76;
    padding: 20px;
    transition: all 0.2s;
}

.itens i:hover {
    animation: translateY 0.8s infinite alternate;
    color: #EE7F24;
    scale: 1.1;
    cursor: pointer;
}

@keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }

.header img {
    width: 35%;
    transition: all 0.2s;
}

.header img:hover {
    scale: 1.1;
}

h2 {
    font-size: 3em;
    color: #435D76;
}

section {
    text-align: center;
}

section h1 {
    font-size: 2.5em;
}

.apresentacao {
    background: linear-gradient(to right, #ee7f24cb, #ee7f24cb, #EE7F24, #EE7F24), 
    url('assets/imagem8.jfif') center no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

ul {
    font-size: 1.7em;
    font-style: italic;
    padding: 20px;
}

.essencia {
    width: 95%;
    margin-bottom: -40px;
}

.essencia img {
    width: 100%;
}

.container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 15px;
}

.conteudo {
    background-color: #EE7F24;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: auto;
    padding: 20px;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #435D76;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.conteudo h1 {
    color: #435D76;
    font-size: 2em;
    margin-bottom: 15px;
}

.conteudo:hover {
    scale: 1.05;
}

.endereco {
    font-weight: bold;
    margin-bottom: 0;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
}

.whats img {
    width: 100px;
    transition: all 0.2s;
}

.whats img:hover {
    scale: 1.1;
}

footer {
    background-color: rgba(128, 128, 128, 0.26);
    font-size: 15px;
    color: #435D76;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #435D76;
}

footer img {
    width: 180px;
    transition: all 0.2s;
}

footer img:hover {
    scale: 1.1;
}

footer p {
    font-size: 1em;
}

@media screen and (max-width: 1308px) {
    .conteudo2 {
        display: none;
    }

    .conteudo3 {
        display: block;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    header {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .apresentacao {
        font-size: 3em;
    }

    .itens {
        margin-right: 0;
    }

    .itens i {
        font-size: 40px;
        padding: 10px;
    }

    h1 {
        font-size: 1em;
    }

    H2 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 600px) {
    .apresentacao {
        font-size: 2.5em;
    }

    .itens i {
        font-size: 30px;
    }

    h2 {
        font-size: 2em;
    }

    .parte1 {
        padding: 50px;
    }
    
    .whats img {
        width: 70px;
    }

    footer {
        font-size: 10px;
    }
    
    footer img {
        width: 140px;
    }
}

@media screen and (max-width: 300px) {
    .apresentacao {
        font-size: 2em;
    }
    
    .parte1 {
        padding: 20px;
    }
    
    .whats img {
        width: 50px;
    }
}