* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: solid 1px #EE7F24;
}

.itens {
    margin-right: 50px;
}

.itens a {
    text-decoration: none;
}

.itens i {
    font-size: 50px;
    font-weight: bold;
    color: #435D76;
    padding: 20px;
    transition: all 0.2s;
}

.itens i:hover {
    animation: translateY 0.8s infinite alternate;
    color: #EE7F24;
    scale: 1.1;
    cursor: pointer;
}

@keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }

.header img {
    width: 60%;
    transition: all 0.2s;
}

.header img:hover {
    scale: 1.1;
}

.apresentacao {
    color: #1a4b79;
    font-size: 3.5em;
    margin-top: 100px;
    margin-bottom: 50px;
}

.titulo {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, transparent, #435D76, transparent, transparent);
    margin-bottom: 50px;
}

section {
    text-align: center;
}

.parte1 {
    display: block;
    padding: 100px;
    border-bottom: 1px solid #EE7F24;
    margin-bottom: 50px;
    text-align: justify;
}

.foto1 {
    float: left;
    max-width: 500px;
    margin-bottom: 100px;
    margin-right: 25px;
}

.foto2 {
    float: right;
    max-width: 500px;
    margin-bottom: 100px;
    margin-left: 25px;
}

.texto {
    margin-bottom: 200px;
}

h1, p {
    margin-bottom: 40px;
}

h1 {
    font-size: 2em;
    color: #435D76;
}

hr {
    height: 1px;
    color: #435D76;
    margin-top: -20px;
    margin-bottom: 20px;
}

.endereco {
    font-weight: bold;
    margin-bottom: 0;
}

strong {
    color: #435D76;
}

section img {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.whats img {
    width: 100px;
    transition: all 0.2s;
}

.whats img:hover {
    scale: 1.1;
}

footer {
    font-size: 15px;
    color: #435D76;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #EE7F24;
}

footer img {
    width: 200px;
    transition: all 0.2s;
}

footer img:hover {
    scale: 1.1;
}

@media screen and (max-width: 1040px) {
    .itens i {
        font-size: 40px;
    }
}

@media screen and (max-width: 1020px) {
    .itens i {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .itens {
        margin-right: 0;
    }

    .parte1 {
        display: block;
    }

    .foto1, .foto2 {
        float: none;
        margin: auto;
        display: block;
    }

    .texto {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 600px) {
    .apresentacao {
        font-size: 3em;
    }

    .parte1 {
        padding: 50px;
    }
    
    .whats img {
        width: 70px;
    }

    footer {
        font-size: 10px;
    }
    
    footer img {
        width: 150px;
    }
}

@media screen and (max-width: 300px) {
    .apresentacao {
        font-size: 2.5em;
    }
    
    .parte1 {
        padding: 20px;
    }
    
    .whats img {
        width: 50px;
    }
}